{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/detail.css" %}">
{% endblock %}

{% block artice %}
    <div id="confirmDialogSingle" class="Loading" runat="server" visible="false">
        <div id="msgBox" class="loadingImg">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <hr>
                    <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}